<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <directoryBrowse enabled="false" />
    <httpProtocol>
      <customHeaders>
        <remove name="Content-Disposition" />
        <add name="Content-Disposition" value="attachment" />
        <remove name="Cache-Control" />
        <add name="Cache-Control" value="private, no-store" />
      </customHeaders>
    </httpProtocol>
    <security>
      <requestFiltering>
        <fileExtensions allowUnlisted="false" applyToWebDAV="false">
          <add fileExtension=".exe" allowed="true" />
          <add fileExtension=".msi" allowed="true" />
          <add fileExtension=".msix" allowed="true" />
          <add fileExtension=".zip" allowed="true" />
          <add fileExtension=".dmg" allowed="true" />
          <add fileExtension=".pkg" allowed="true" />
          <add fileExtension=".deb" allowed="true" />
          <add fileExtension=".rpm" allowed="true" />
        </fileExtensions>
      </requestFiltering>
    </security>
    <staticContent>
      <remove fileExtension=".exe" />
      <mimeMap fileExtension=".exe" mimeType="application/octet-stream" />
      <remove fileExtension=".msi" />
      <mimeMap fileExtension=".msi" mimeType="application/octet-stream" />
      <remove fileExtension=".msix" />
      <mimeMap fileExtension=".msix" mimeType="application/octet-stream" />
      <remove fileExtension=".zip" />
      <mimeMap fileExtension=".zip" mimeType="application/zip" />
      <remove fileExtension=".dmg" />
      <mimeMap fileExtension=".dmg" mimeType="application/octet-stream" />
      <remove fileExtension=".pkg" />
      <mimeMap fileExtension=".pkg" mimeType="application/octet-stream" />
      <remove fileExtension=".deb" />
      <mimeMap fileExtension=".deb" mimeType="application/octet-stream" />
      <remove fileExtension=".rpm" />
      <mimeMap fileExtension=".rpm" mimeType="application/octet-stream" />
    </staticContent>
  </system.webServer>
</configuration>
